* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #020617;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #ffffff;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}
