body {

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(135deg,#e9d5ff,#c4b5fd,#a78bfa);

    font-family:Arial;
}

.card {

    backdrop-filter: blur(20px);

    background: rgba(255,255,255,0.3);

    padding:40px;

    border-radius:20px;

    width:300px;
}

input {

    width:100%;
    padding:12px;

    margin-top:10px;

    border:none;
    border-radius:10px;
}

button {

    margin-top:15px;
    padding:12px;

    width:100%;

    background:#7c3aed;
    border:none;
    border-radius:10px;

    color:white;
}
