body {

    background:#0f172a;
    color:white;

    font-family:Arial;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.app {

    background:#1e293b;
    padding:40px;

    border-radius:12px;

    width:300px;
}

input {

    width:100%;
    padding:12px;

    margin-top:10px;

    border:none;
    border-radius:8px;

    background:#334155;
    color:white;
}

button {

    margin-top:15px;
    padding:12px;

    width:100%;

    background:#6366f1;
    border:none;
    border-radius:8px;

    color:white;
    cursor:pointer;
}
