body {

    background:#111827;
    color:white;
    font-family: Arial;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container {

    width:400px;
}

.question {

    width:100%;
    padding:12px;

    background:#374151;

    border:none;

    color:white;

    cursor:pointer;

    text-align:left;

    margin-top:10px;
}

.answer {

    display:none;

    background:#1f2933;

    padding:10px;
}
