body {
    background:#111827;
    color:white;
    font-family: Arial;
}

.board {
    display:flex;
    gap:20px;
    padding:40px;
}

.column {
    background:#1f2933;
    padding:20px;
    width:500px;
    min-height:500px;
    border-radius:10px;
}

.card {
    background:#374151;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    cursor:grab;
}
.add-task {
    padding:40px;
}

.add-task input {
    padding:10px;
}

.add-task button {
    padding:10px;

}
