body {

    background:#111827;
    color:white;

    font-family:Arial;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container {

    width:300px;
}

input {

    width:100%;
    padding:10px;
}

.strength-bar {

    width:100%;
    height:10px;

    background:#333;

    margin-top:10px;

    border-radius:5px;
}

#strength {

    height:100%;
    width:0%;

    border-radius:5px;

    transition:0.3s;
}
