* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body {
    background:#0f172a;
    color:#f1f5f9;
    padding:40px;
}

.container {
    max-width:900px;
    margin:auto;
}

input {
    padding:10px;
    width:100%;
    margin-bottom:15px;
    border-radius:6px;
    border:none;
}

button {
    padding:10px 18px;
    border:none;
    border-radius:6px;
    background:#14b8a6;
    color:white;
    cursor:pointer;
    margin-bottom:20px;
}

/* GRID */

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap:20px;
}

.card {
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.card:hover {
    transform:translateY(-5px);
    background:#334155;
}

/* MODAL */

.modal {
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}

.modal-content {
    background:#1e293b;
    padding:30px;
    border-radius:10px;
    width:300px;
}

#close {
    float:right;
    cursor:pointer;
    font-size:20px;
}