body {

    font-family: Arial, sans-serif;

    background-color: #eee36a;

    padding: 20px;

}
.gallery {

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 15px;

}

.gallery img {

    width: 100%;
    height: 150px;

    object-fit: cover;

    border-radius: 10px;

    display: block;
}
