body {

    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#111827;

    font-family:Arial;
}

.card {

    width:300px;
    height:200px;

    background:linear-gradient(135deg,#4f46e5,#9333ea);

    border-radius:20px;

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    transition:0.1s;

    transform-style:preserve-3d;
}
