* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #9eb4c9;
    color: rgb(13, 68, 68);
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-container {
    background: #fefefe;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(254, 251, 251, 0.496);
}

#count {
    font-size: 60px;
    margin: 20px 0;
    color: #0c0c0c;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:nth-child(1) {
    background: #ef4444;
    color: white;
}

button:nth-child(2) {
    background: #6b7280;
    color: white;
}

button:nth-child(3) {
    background: #22c55e;
    color: white;
}
