body {

    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(135deg,#9aadc7,#000);

    font-family: Arial;
}


/* Glass Card */

.player {

    backdrop-filter: blur(15px);

    background: rgba(255,255,255,0.1);

    padding:40px;

    border-radius:20px;

    color:white;

    text-align:center;

    box-shadow:0 10px 40px rgba(0,0,0,0.5);
}


button {

    font-size:30px;

    border:none;

    background:none;

    color:white;

    cursor:pointer;

    margin-top:15px;
}


.progress-bar {

    width:250px;

    height:8px;

    background:#444;

    margin-top:20px;

    border-radius:5px;
}

#progress {

    width:0%;

    height:100%;

    background:limegreen;

    border-radius:5px;

    transition:0.3s;
}
