body {
    background:#bfa8eb;
    color:#f1f5f9;
    font-family:Arial;
    padding:40px;
}

.container {
    max-width:900px;
    margin:auto;
}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap:20px;
}

.card {
    background:#1e293b;
    padding:20px;
    border-radius:12px;
}

#loading {
    text-align:center;
    margin-top:20px;
}