body {
    background:#90a2c9;
    color:white;
    font-family: Arial;
}

.container {
    padding:40px;
    max-width:400px;
    border-radius: 10px;
}

input {
    width:100%;
    padding:10px;
    margin-top:10px;
}

li {
    margin-top:10px;
    transition:0.3s;
    align-items: center;
    border-radius: 10px;
}

.highlight {
    background: yellow;
    color:black;
}

#noResult {
    display:none;
    margin-top:15px;
    color:red;
}
