body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#1f2933,#111827);
    font-family: Arial;
    color:white;
}

.container {
    background:#020617;
    padding:40px;
    border-radius:15px;
    width:400px;
    text-align:center;
}

textarea {
    width:100%;
    height:100px;
    margin-top:15px;
    padding:10px;
    border:none;
    border-radius:10px;
    outline:none;
}

#result {
    margin-top:15px;
    font-weight:bold;
}
