body {

    background:#0f172a;
    color:white;

    font-family:Arial;

    display:flex;
    justify-content:center;

    padding:40px;
}

.app {

    width:600px;
}

.input-section {

    display:flex;
    gap:10px;
}

input {

    padding:12px;
    border:none;

    background:#1e293b;
    color:white;

    border-radius:8px;

    margin-top:10px;

    width:100%;
}

button {

    padding:12px;
    background:#6366f1;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

.notes-grid {

    margin-top:20px;

    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));

    gap:15px;
}

.note {

    background:#1e293b;
    padding:15px;
    border-radius:10px;

    display:flex;
    flex-direction:column;
    gap:10px;
}
